output/*
output2/*
*.pyc


*.swp
*.swo

*.log

~*
*~
*DS_Store
*DS_STORE

1_ROI.bat
2_Semantic_Segmentation.bat
3_Diagnosis.bat
Diagnosis.py
ROISegmentation.py
ROIWindowClassifier.py

data/*
*/Exception Log/*
*.pyc
*.html
